.line {
  fill: none;
  stroke-width: 5px;
}

.orange {
  stroke: orange;
}

.green {
  stroke: green;
}

.blue {
  stroke: blue;
}


.red {
  stroke: red;
}

.legend {
    font-size: 18px;
    font-weight: bold;
    text-anchor: right  ;
}
